* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  color: rgb(255, 255, 255);
  text-align: center;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*! Navigation */
header {
  border-radius: 0 0 50px 50px;
  overflow: hidden;
}
.logo {
  width: 100%;
  height: 100px;
}
.logo img {
  object-fit: cover;
  width: 100%;
  object-position: center -255px;
}
ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background-color: rgba(51, 51, 51, 0.4);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgba(17, 17, 17, 0.8);
}
/*! Navigation Ended */

/*! Main */
.news-img {
  /* width: 100%; */
}
main {
  height: 100%;
  padding-bottom: 22px;
}
.home-image {
  /* height: 500px; */
}
/*! Main Ended  */
.button {
  background-color: hsla(0, 0%, 0%, 0.5); /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:active {
  background: linear-gradient(to right, #e66465, #9198e5); /* Green */
}

.item {
  padding: 10px;
  width: auto;
  margin: 0 auto;
  text-align: left;
  list-style: none;
  background: hsla(0, 0%, 0%, 0.4);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
form {
  width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
input[type="submit"] {
  grid-column: span 2;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap: 20px;
}
.item img {
  width: 100%;
  padding: 10px;
}
#nyan-cat {
  width: 200px;
  position: absolute;
  animation: goCat 2s infinite;
}

@keyframes goCat {
  0% {
    width: 200px;
    height: 100px;
    left: 0%;
    top: 50%;
  }
  75% {
    width: 100%;
    height: 120px;

    left: 0%;
    transform: rotateY(0deg) scale(1);

    top: 50%;
  }
  100% {
    width: 200px;
    height: 100px;
    left: calc(100% - 120px);
    transform: rotateY(1095deg) scale(0.1);
    /* filter: ; */
    top: 50%;
  }
}

/* Pop-up sweetalert2 window */
.swal2-popup {
  width: 90% !important;
  background: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(10px) !important;
}
.swal2-close {
  color: rgba(255, 0, 0, 0.4) !important;
}
.swal2-close:hover {
  color: rgba(255, 0, 0, 0.8) !important;
}
/* .swal2-popup::after {
  content: "x";
  width: 20px;
  height: 20px;
  background-color: rgba(255, 0, 0, 0.75);
  position: absolute;
  color: white;
  top: 0;
  right: -20px;
} */
#swal2-html-container {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: left;
}
#swal2-html-container img {
  width: 100%;
  grid-row: span 3;
  align-self: center;
}

.swal-scroll-area {
  padding: 10px 0;
  max-height: 300px;
  /* overflow: scroll; */
  overflow-x: hidden;
  /* -ms-overflow-style: none; IE and Edge */
  /* scrollbar-width: none; Firefox */
}
.swal-scroll-area h2 {
  padding: 15px;
}
.swal-scroll-area h4 {
  padding: 10px;
}
.swal-scroll-area p,
.swal-scroll-area select {
  padding: 5px 10px;
}
.swal-scroll-area select {
  background: transparent;
  border: 1px solid #80808073;
  width: 100%;
  text-align: center;
  color: #2b2b2b;
  padding: 5px;
  height: 40px;
  font-size: 16px;
}
.swal-scroll-area::-webkit-scrollbar {
  /* display: none; */
}

.swal-add-to-cart {
}

/* Cart */

.cart {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  position: relative;
}
.cart-counter {
  position: absolute;
  right: 7px;
  top: 18px;
  font-size: 14px;
  background: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.count-cart {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.button-add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*! Footer */
footer {
  position: absolute;
  bottom: 0;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(51, 51, 51, 0.4);
  width: 100%;
  padding: 14px 16px;
  border-radius: 50px 50px 0 0;
}
.copyright {
  max-width: 1000px;
}
/*! Footer Ended */
